@model ITDeveloper.Domain.Entitites.Patient

@{
    Layout = "_Layout";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Patient</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HospitalizationDate" class="control-label"></label>
                    <input asp-for="HospitalizationDate" class="form-control" />
                    <span asp-validation-for="HospitalizationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="type" class="control-label"></label>
                    <select asp-for="type" asp-items="Html.GetEnumSelectList<ITDeveloper.Domain.Enums.PatientType>()" class="form-control">
                        <option selected="selected" value="">Select</option>
                    </select>
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RG" class="control-label"></label>
                    <input asp-for="RG" class="form-control" />
                    <span asp-validation-for="RG" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RGEmitterOrgan" class="control-label"></label>
                    <input asp-for="RGEmitterOrgan" class="form-control" />
                    <span asp-validation-for="RGEmitterOrgan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmissionDate" class="control-label"></label>
                    <input asp-for="EmissionDate" class="form-control" />
                    <span asp-validation-for="EmissionDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @await Html.PartialAsync("_ValidationScriptsPartial")

</body>
</html>
