<div class="panel">
  <div class="panel panel-heading">
      <h4>Estado dos pacientes &nbsp;&nbsp;<span class="badge">30</span></h4>
      
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <vc:critical-state></vc:critical-state>
  </div>

  <!-- / .col-md-3 -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <vc:stable-state></vc:stable-state>
  </div>

  <!-- / .col-md-3 -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <vc:serious-state></vc:serious-state>
  </div>

  <!-- / .col-md-3 -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <vc:observation-state-view-component></vc:observation-state-view-component>
  </div>
  </div>
</div>

