
@{
    ViewData["Title"] = "Sistema de Auditoria";
}

<vc:header-module title="Auditoria" subtitle="Sistema de Auditoria"></vc:header-module>
<partial name="PartialViews/_patientState"/>

<div class="panel panel-default panel-controls">
    <div class="panel panel-reding">
        <h3>Sistema de Auditoria</h3>
    </div>

    <div class="panel panel-body">

    </div>
</div>





